/*
 *  zapdos.css overwrites certain CSS components in the main MOOSE CSS file
 *  (moose/framework/doc/content/css/moose.css), mostly to change site coloration
 *  to fit an NCSU theme. Certain adjustments are also made to font size and
 *  weight for ease of viewing on multiple browsers/machines.
 */

:root {
    --ncsu-red: rgba(204, 0, 0, 1.0);
    --gray: rgba(102, 102, 102, 1.0);
}

.moose-col-icon{
    font-size: 32pt;
    display:inline-block;
    width:100%;
    padding-top: 16pt;
    color: var(--ncsu-red);
    text-align:center;
}

.tabs .tab a:hover, .tabs .tab a.active {
	background-color: transparent;
  color: var(--ncsu-red);
}rend

a {
    color: var(--ncsu-red);
    font-weight: 400;
    font-size: 104%;
}

.tabs .tab a
{
  background-color: transparent;
  color: var(--ncsu-red);
  font-size: 110%;
}

.tabs .indicator {
	background-color: var(--ncsu-red);
}

.table-of-contents a.active {
    border-left: 2px solid var(--ncsu-red);
}

blockquote {
    border-left: 5px solid var(--ncsu-red);
}

.moose-parameter-name{
    color:var(--ncsu-red);
}

nav,
.btn,
.btn-small,
.btn-large,
footer.page-footer{
    background-color:var(--ncsu-red);
}

.side-nav .collapsible ul:last-child a.active:last-child,
.side-nav.fixed .collapsible ul:last-child a.active:last-child{
    background-color:var(--ncsu-red);
    color:#fff;
    font-weight:500;
}

/* MOOSE SYNTAX LISTS */
.collection.with-header .collection-header {
    color:white;
    background-color: var(--ncsu-red);
    font-size:larger;
    font-weight:100;
}

/* Dropdown Menu Text Color */
.dropdown-content li > a, .dropdown-content li > span {
    color: var(--ncsu-red);
    font-weight:400;
}

/* Link weight (affects top menus, a-to-z index, and other body links) */
a {
  font-weight: 450;
}
