[submodule "squirrel"]
	path = squirrel
	url = ../../arfc/squirrel
[submodule "moose"]
	path = moose
	url = ../../idaholab/moose
[submodule "crane"]
	path = crane
	url = https://github.com/lcpp-org/crane
