[submodule "squirrel"]
	path = squirrel
	url = ../../arfc/squirrel
[submodule "moose"]
	path = moose
	url = https://github.com/idaholab/moose
	branch = master
[submodule "crane"]
	path = crane
	url = ../../lcpp-org/crane
